<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>pragmash</string>
	</array>
	<key>name</key>
	<string>Pragmash</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\b(if not|if|else|while|for|try|catch|break|continue|return)\b</string>
			<key>name</key>
			<string>keyword.control.untitled</string>
		</dict>
		<dict>
			<key>match</key>
			<string>^\s*#.*$</string>
			<key>name</key>
			<string>comment.line.untitled</string>
		</dict>
		<dict>
			<key>match</key>
			<string>{</string>
			<key>name</key>
			<string>punctuation.section.scope.begin</string>
		</dict>
		<dict>
			<key>match</key>
			<string>}</string>
			<key>name</key>
			<string>punctuation.section.scope.end</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.untitled</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>constant.character.escape.untitled</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>scope</key>
	<string>source.pragmash</string>
	<key>scopeName</key>
	<string>source.pragmash</string>
	<key>uuid</key>
	<string>69AA3119-B7BB-11D9-A7E2-000D93C8BE28</string>
</dict>
</plist>
